.warning {
  
  width: 25rem;
  height: 8rem;
  margin-top: 14rem;
  margin-left: 30rem;
  position: relative;

  border-radius: 0.5rem;
  background: #ffffff36;
  backdrop-filter: blur(5px);

  box-shadow: 2px 2px 11px 0px #000000bd;
  
  
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #1f1d29;

    line-height: 1.4;


    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 20%;   
}
.weather-images {
  width: 4rem;
  display: flex;  
  margin-top: 5rem;
  margin-left: 30rem;
  display: inline-flex;
  column-gap: 1rem;

}

 
.container { 

    p {
    font-family: "Raleway", sans-serif;
    color:rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 700;
    
    margin-top: 2rem;
    padding: 0;
    text-align: center;
    position: relative;
  }
}



.temperatures {

  width: 25rem;
  margin-left: 30rem;
  position: relative;

  border-radius: 0.5rem;
  background: #ffffff36;
  backdrop-filter: blur(5px);

  box-shadow: 2px 2px 11px 0px #000000bd;
  
  h2 {

    font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
  
      line-height: 2rem;
  
  
      margin: 0;
      
      padding: 0;
      text-align: center;
      position: relative;
      top: 20%;    
      
      strong {
        color: #061d26;
      }
    }
}